We're scraping the Top 100 billboard charts.

In [204]:
import requests # to download html code
from bs4 import BeautifulSoup # to navigate through the html code
import pandas as pd
import numpy as np
import re
from datetime import datetime

In [166]:
url = 'https://www.billboard.com/charts/hot-100/' #Website to be scraped

In [167]:
response = requests.get(url)
print(response.status_code)

200

In [168]:
soup = BeautifulSoup(response.text, 'html.parser')

In [169]:
# print(soup.prettify())

In [170]:
soup.title

In [171]:
soup.select("h3#title-of-a-story")[0].get_text()

'\n\n\t\n\t\n\t\t\n\t\t\t\t\tSongwriter(s):\t\t\n\t\n'

### Get Week

In [196]:
week_selector = '#post-1479786 > div.pmc-paywall > div > div > div > div.lrv-u-flex.lrv-u-align-items-center.lrv-u-justify-content-space-between.lrv-u-padding-lr-075\@mobile-max.lrv-u-flex-direction-column\@mobile-max > p'

In [207]:
week =  soup.select(week_selector)[0].get_text().replace('Week of ', '')

In [211]:
week

'April 23, 2022'

In [213]:
week_date = datetime.strptime(week, '%B %d, %Y')

In [214]:
week_nr = week_date.isocalendar()[1]

In [215]:
week_nr

16

### Getting interprets:

First we save the of the interpreter on number one on the billboard

In [172]:
interpretor_selector = "#post-1479786 > div.pmc-paywall > div > div > div > div.chart-results-list.\/\/.lrv-u-padding-t-150.lrv-u-padding-t-050\@mobile-max > div:nth-child(2) > ul > li.lrv-u-width-100p > ul > li.o-chart-results-list__item.\/\/.lrv-u-flex-grow-1.lrv-u-flex.lrv-u-flex-direction-column.lrv-u-justify-content-center.lrv-u-border-b-1.u-border-b-0\@mobile-max.lrv-u-border-color-grey-light.lrv-u-padding-l-1\@mobile-max > span"

In [173]:
soup.select(interpretor_selector)[0].get_text().replace("\n","").replace("\t","")

'Jack Harlow'

It's Jack Harlow

Now we have to generalize the select to get all the interprets of Top 100.

In [174]:
interpretor_selector_list = "ul > li.o-chart-results-list__item.\/\/.lrv-u-flex-grow-1.lrv-u-flex.lrv-u-flex-direction-column.lrv-u-justify-content-center.lrv-u-border-b-1.u-border-b-0\@mobile-max.lrv-u-border-color-grey-light.lrv-u-padding-l-1\@mobile-max > span"

In [177]:
interprets = [elem.get_text().replace("\n","").replace("\t","") for elem in soup.select(interpretor_selector_list)]

In [178]:
len(interprets)

100

### Getting song titles:

Get selector for song titles:

In [179]:
title_selector_list = "ul > li.o-chart-results-list__item.\/\/.lrv-u-flex-grow-1.lrv-u-flex.lrv-u-flex-direction-column.lrv-u-justify-content-center.lrv-u-border-b-1.u-border-b-0\@mobile-max.lrv-u-border-color-grey-light.lrv-u-padding-l-1\@mobile-max > h3"

In [180]:
soup.select(title_selector)[0].get_text().replace("\n","").replace("\t","")

'First Class'

Get list of titles:

In [181]:
titles = [elem.get_text().replace("\n","").replace("\t","") for elem in soup.select(title_selector_list)]

In [182]:
len(titles)

100

### Get Position:

In [183]:
pos_selector = 'span.c-label.a-font-primary-bold-l.u-font-size-32\@tablet.u-letter-spacing-0080\@tablet'

In [184]:
soup.select(pos_selector)[0].get_text()

'\n\t\n\t1\n'

In [185]:
position = [elem.get_text().replace("\n","").replace("\t","") for elem in soup.select(pos_selector)]

In [186]:
len(position)

100

### Get Last Week Position and Peak Position:

In [187]:
last_pos_selector = 'ul > li.lrv-u-width-100p > ul > li:nth-child(4) > span'

In [188]:
soup.select(last_pos_selector)[0]

<span class="c-label a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet">

	-
</span>

In [189]:
last_position = [elem.get_text().replace("\n","").replace("\t","") for elem in soup.select(last_pos_selector)]

In [190]:
last_week_pos = last_position[0::2]

In [191]:
len(last_week_pos)

100

In [192]:
peak_pos = last_position[1::2]

### Build dataframe

In [193]:
pd.DataFrame({'last_week': last_week_pos, 'peak':peak_pos})

   last_week peak
0          -    1
1          1    1
2          2    1
3          3    3
4          5    5
..       ...  ...
95        85   77
96         -   97
97        99   98
98         -   73
99         -  100

[100 rows x 2 columns]

In [219]:
BillboardTop100df = pd.DataFrame({'position': position, 'interpret': interprets, 'title':titles, 'last_week':last_week_pos, 'peak':peak_pos, 'week_date': week_date, 'week_nr':week_nr})

In [220]:
BillboardTop100df

,position,interpret,title,last_week,peak,week_date,week_nr
0,1,Jack Harlow,First Class,-,1,2022-04-23,16
1,2,Harry Styles,As It Was,1,1,2022-04-23,16
2,3,Glass Animals,Heat Waves,2,1,2022-04-23,16
3,4,Latto,Big Energy,3,3,2022-04-23,16
4,5,Imagine Dragons X JID,Enemy,5,5,2022-04-23,16
...,...,...,...,...,...,...,...
95,96,Lucky Daye,Over,85,77,2022-04-23,16
96,97,Pusha T Featuring JAY-Z & Pharrell Williams,Neck & Wrist,-,97,2022-04-23,16
97,98,Rauw Alejandro & Chencho Corleone,Desesperados,99,98,2022-04-23,16
98,99,Daddy Yankee & Bad Bunny,X Ultima Vez,-,73,2022-04-23,16
99,100,BRELAND Featuring Thomas Rhett,Praise The Lord,-,100,2022-04-23,16

In [221]:
BillboardTop100df.to_csv('billboardTop100' + week + '.csv')